tr[name="completadas"] {
    color: black;
    text-align: center;
    background-color: #57f851b1;
    width: 100%;
}

table[name="completadas"] {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.75em;
    font-family: sans-serif;
    min-width: 450px;
    color: black;
    background-color: #ffffff;
}

td,
th {
    padding: 12px 15px;
    margin: auto;
    justify-content: center;
    border: 2px solid #000000c3;
    text-align: center;
    color: black;
}

button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: .6rem;
    cursor: pointer;
}

a[name="printt"] {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: .6rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
