body {
    margin-top: 0px;
    border: initial;
    margin-right: 25px;
    margin-right: 25px;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: 800;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: auto;
    margin-top: 3px;
    font-size: small;

}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: xx-small;

}

div {
    float: left;
    font-size: small;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 6px;
    padding: 8px;
}

p {
    width: 100%;
    margin: 0px 20px 0px;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: left;
    padding: 12px 20px;
    font-size: initial;
}

label {
    font-weight: 600;

}

td,
th {
    padding: 12px 15px;
    margin: auto;
    justify-content: center;
    border: 2px solid #000000c3;
    text-align: center;
    color: black;
}

footer {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 210px;
}

.contenedor {
    position: relative;
    /* Establece la posición relativa para el contenedor */
    width: 180px;
    /* Ancho del contenedor */
    height: 30px;
}

.imagen {
    position: absolute;
    /* Establece la posición absoluta para la imagen */
    top: 0;
    /* Posiciona la imagen en la parte superior del contenedor */
    left: 0;
    /* Posiciona la imagen en la parte izquierda del contenedor */
    width: 230px;
    /* Ancho de la imagen */
    height: 50px;
    /* Altura de la imagen */
}

button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

a[name="printt"] {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: .6rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo base para la alerta */
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Estilo para la alerta de éxito */
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
